<div class="col-md-8">
    <article class="card">
        <img class="card-img-top" src="{{photo}}" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{brand}} {{model}}</h5>
            <h5 class="card-title">{{price}}</h5>
            <hr>
            <div class="card-body">
                <a href="/catalog/{{id}}" class="btn btn-sm btn-info">Ver detalles</a>
                <input type="hidden" name="hiddenIdFav" id="hiddenIdFav" value="{{_id}}">

            </div>
            </span>
        </div>

    </article>

</div>