<div class="col-md-3">
    <article class="card card mine-card">
        <img class="card-img-top" src="{{photo}}" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{brand}} {{model}}</h5>
            <h5 class="card-title">{{price}}</h5>
            <hr>
            <div class="card-body">
                <a href="/catalog/{{id}}" class="btn btn-sm btn-info">Ver detalles</a>
                <input type="hidden" name="hiddenIdFav" id="hiddenIdFav" value="{{_id}}">

                <a href="/profile" class="btn btn-sm btn-info" id="favorite"><i class="fa fa-heart" style="color: red;" aria-hidden="true"></i></a>

            </div>
            </span>
        </div>

    </article>

</div>