<div class="container-mine new">

  <h1 >{{theCar.brand}} {{theCar.model}}</h1>


  <h3>{{theCar.price}}</h3>

  <div class="mine">
    <p>{{theCar.year}} | {{theCar.color}} | {{theCar.fuel}} | {{theCar.type}}</p>
    <div class="row">
      <div class="col-lg-5">
        <img class="img-show" src="{{theCar.photo}}" alt="{{theCar.brand}} {{theCar.model}}">
      </div>
      <div class="col-md-7">
        
        <p>{{theCar.description}}</p>
        <hr>
        
          <h4>El vehículo se encuentra en esta zona</h4>
          
          <figure id="myMap"></figure>
        
      </div>
    </div>
  </div>

  <div class="row buttons">
  <a href="/catalog" class="btn">Volver</a>
  <a href="/catalog/{{theCar.id}}/send" class="btn">Contacta con el Vendedor</a>

  {{#if isBoss}}
    <form action="/catalog/{{theCar.id}}/delete" method="post">
      <button type="submit" class="btn">Eliminar</button>
    </form>

    <a href="/catalog/{{theCar.id}}/edit" class="btn">Editar</a>
  {{/if}}

  <input type="hidden" name="hiddenId" id="hiddenId" value="{{theCar.id}}">

  </div>
  

  

<script src="/javascripts/mapStyles.js"></script>
<script src="/javascripts/main.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9kGiqiwIzSUP8hhM2uq-mdkTnwhzrOJM&callback=myMap"></script>